{% extends 'base.html.twig' %}

{% block title %}Nouveau groupe{% endblock %}

{% block body %}
    <div class="flex">
        <a href="{{ path('dashboard') }}">
            <svg class="h-8 w-8 fill-current text-grey flex-no-grow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M7.05 9.293L6.343 10 12 15.657l1.414-1.414L9.172 10l4.242-4.243L12 4.343z"/></svg>
        </a>
        <div class="flex-grow text-center align-middle">
            <h2 class="-ml-4 text-center">Créer un groupe</h2>
        </div>
    </div>`

    <div class="mb-8">
        {{ include('team/_form.html.twig') }}
    </div>
{% endblock %}
